.body-cuarter {
    padding: 0;
    margin: 0;
    background-color: black;
    overflow-y: auto;
}

/* Скрываем десктопную версию на мобильных */
.desktop-version {
    display: none;
}

/* Мобильная версия */
.mobile-version {
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  .cuarter-rooms {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    width: 100vw;
  }
.cuarter-map {
    display: block;
    margin: 0;
    padding: 0;
    width: 75vw;
    margin: 0 auto;
    object-fit: contain;
    margin: 0 auto 10vw; 
}
.mobile-vertical-layout {
    margin: 0;
    padding: 0;
    width: 100vw;
  }

.cuarter-rooms {
    width: 100vw;
    height: 62vw;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

/* Десктопная версия (только для больших экранов) */
@media (min-width: 769px) {
    .desktop-version {
        display: block;
    }
    .mobile-version {
        display: none;
    }
}