/* Десктопная версия (остается без изменений) */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.menu-main {
    height: 13.26vw;
    display: flex;
    position: relative;
    background-color: #000000;
}

.description {
    width: 31.8vw;
    padding: 1vw;
    box-sizing: border-box;
}

.white, .blue, .red {
    width: 22.77vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5vw;
}

.main-image {
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    margin-top: -0.1vw;
}

.tur {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 14.23vw;
    height: auto;
    cursor: pointer;
    bottom: 2vw;
    left: 2vw;
}

.detector {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4.16vw;
    height: auto;
    bottom: 2vw;
    right: 2vw;
}

/* Мобильная версия */
@media only screen and (max-width: 768px) {
    body {
        overflow-y: auto;
        display: block;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .menu-main {
        height: auto;
        display: block;
        background-color: #000000;
    }
    
    /* Горизонтальный ряд для white, blue, red */
    .white, .blue, .red {
        width: 33.33%;
        height: 40vw;
        display: inline-block;
        float: left;
        box-sizing: border-box;
    }
    
    /* Description во всю ширину */
    .description {
        width: 100%;
        padding: 5vw;
        box-sizing: border-box;
        display: block;
        clear: both;
    }
    
    .main-image {
        position: absolute;
        width: 350%;
        margin-top: -6vw;
        z-index: -100;
        display: block;
    }
    
    /* Контейнер для нижних элементов */
    .mobile-bottom {
        position: fixed;
        bottom: 2vw;
        right: 2vw;
        display: flex;
        flex-direction: row-reverse;
    }
    
    .tur {
        position: absolute;
        width: 52vw;
        top: -526vw;
        left: -328vw;
    }
    
    .detector {
        position: static;
        width: 15vw;
    }
}